/* Variables */
:root {
  --background-color: rgba(0,0,0,0.9);
  --text-color: ghostwhite;
}

/* Animations */
@keyframes changeColor {
  from {
    color: var(--text-color);
  }
  to {
    color: var(--background-color);
  }
}

/* Styles */
body {
  background-color: var(--background-color);
}

.center-container {
  display: inline-block;
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  /* Sit a little bit above center */
  transform: perspective(1px) translateY(-90%);
}

#message {
  color: var(--text-color);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
}

.colorFlash {
  animation-duration: 2s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* For JS. Not used currently */
.flashing {
  /* display: none; */
  color: var(--background-color);
}
.flashing.active {
  /* display: inline; */
  color: var(--text-color);
}
